#results h1{
  text-align: center;
}

#results p{
  text-align: center;
  margin-bottom: 50px;
}

#results a{
  text-align: center;
  text-decoration: none;
  color: white;
}

#results {
  text-align: center;
  padding: 40px;
}

